/* Import Outfit as variable font (supports all weights) */
@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900; /* Weight range from thin to black */
  font-style: normal;
}

/* Import Young Serif */
@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-300: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);
  --color-brown-800: hsl(14, 45%, 36%);
  --color-rose-900: hsl(332, 51%, 32%);
  --color-rose-50: hsl(330, 100%, 98%);
  --border-radius-inner: 10px;
  --padding: 10px;
  --border-radius-outer: calc(var(--border-radius-inner) + var(--padding));
}

h1 {
  font-family: "Young Serif";
  color: var(--color-stone-900);
  font-size: 3.05rem;
}
body {
  background-color: var(--color-stone-100);
}

p {
  color: var(--color-stone-300);
  font-family: "Outfit";
}
article {
  background-color: var(--color-white);
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem;
  border-radius: var(--border-radius-outer);
}

article img {
  width: 100%;
  border-radius: var(--border-radius-inner);
}
